<!-- <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
  <div formGroupName="note">
    <mat-form-field appearance="fill">
      <mat-label>History of Present Illness</mat-label>
      <textarea matInput formControlName="HistoryOfPresentIllnessText"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Review of Systems</mat-label>
      <textarea matInput formControlName="ReviewOfSystemsText"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Physical Exam</mat-label>
      <textarea matInput formControlName="PhysicalExamText"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Assessment</mat-label>
      <textarea matInput formControlName="AssessmentText"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form> -->
