
  .main-content {
    padding: 16px;
    background-color: #ffffff;
  }

.sidenav {
  width: 250px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: white;
  padding: 0;
}

.mat-nav-list .mat-list-item {
  color: #ffffff; /* Customize the text color */
}

.mat-nav-list .mat-list-item:hover {
  background-color: #757de8; /* Customize the hover background color */
}

// .main-content {
//   padding: 16px;
//   background-color: #f5f5f5;
//   height: calc(100vh - 64px); /* Adjust height to accommodate toolbar */
// }

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 150px; /* Adjust size as needed */
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.app-name {
  font-size: 20px; /* Adjust font size as needed */
}
/* sidenav.component.css */

.mat-icon {
    font-size: 24px; /* Adjust icon size as needed */
    margin-right: 10px; /* Adjust spacing between icon and text */
    vertical-align: middle;
    color:#43C981 !important;
  }
  .icon-color .mat-icon {
    font-size: 24px; /* Adjust icon size as needed */
    margin-right: 10px; /* Adjust spacing between icon and text */
    vertical-align: middle;
    color:#1B1E22 !important;
  }
  
  .nav-text {
    font-size: 16px; /* Adjust text size as needed */
    margin-left: 5px; /* Adjust spacing between icon and text */
    line-height: 24px; /* Match line height to icon size for vertical alignment */
    vertical-align: middle;
    color: #43C981 !important;
  }
  
  
  .active-link {
    background-color: transparent !important; /* Example active link background color */
  }
  ::ng-deep .mat-drawer-inner-container {
    background-color: #fdfdff !important;
}



  